[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Michael C. Adams
	email = 10792116+mcladams@users.noreply.github.com
[pull]
	rebase = true
[fetch]
	prune = true
[diff]
	colorMoved = zebra
[rebase]
	autoSquash = true
[init]
	defaultbranch = main
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
