\[Unit]
Description=restart dead/failed enabled services after sleep
After=suspend.target hibernate.target hybrid-sleep.target suspend-then-hibernate.target

[Service]
ExecStart=for unit in $(systemctl list-units $(systemctl list-unit-files --state=enabled \
 | awk "{ print $1 }") | grep -e dead -e failed | awk "{ print $1 }" ) ; do systemctl restart $unit; done
#User=my_user_name
#Environment=DISPLAY=:0

[Install]
WantedBy=suspend.target hibernate.target hybrid-sleep.target suspend-then-hibernate.target
